.navbar{
  padding:10px 0;
  display: flex;
  justify-content: space-between;
}
.navbar ul{
  margin:0;
padding: 0;
}
.navbar ul li{
list-style: none;
display: inline-block;
}
.navbar ul li a{
  text-decoration: none;
  display: block;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 400;
  color: #565673;
  padding: 0 10px;
}
.search form{
  display:flex;
  margin: 0 10px;
}
.searchInput{
  border:0;
width:0px;
transition: width 0.2s ease-in;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}
.searchInput.active{
  width:150px;
  border: 1px groove;
}
.searchInput.active + img{
  border:1px groove;
  border-top-right-radius: 5px ;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px ;
}
.searchInput:focus{
  outline: none;

}
.searchIcon{
  border:1px groove;
  border-radius: 5px;

}
